<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/employee']">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav navbar-left">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/employee']">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <ul class="navbar-nav navbar-right">
      <li class="nav-item">
        <a *ngIf="authService.loggedIn()" class="nav-link" [routerLink]="['/employee']">Employee</a>
      </li>
      <li class="nav-item">
        <a *ngIf="!authService.loggedIn()" class="nav-link" [routerLink]="['/']">Login</a>
      </li>
      <li class="nav-item">
        <a *ngIf="authService.loggedIn()"  class="nav-link" (click)="onLogoutClick()" [routerLink]="['/']">Logout</a>
      </li>
    </ul>
    </div>
</nav>